  {{> navbar }}


<div class="container">

    {{#each movies}}
    <div class="row">
        <div class="col-sm-3">
            <a data-movieid="{{this.movie_id}}" href="/movie/{{this.movie_id}}"><img src="{{this.poster_path}}" alt="Movie Poster Thumbnail" class="img-fluid"></a>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h1 class="movie-title">{{this.movie_title}}</h1>
            </div>
            <div class="row">
                <h3 class="movie-date">Released: {{this.movie_year}}</h3>
            </div>
            <div class="row">
                <p class="movie-overview">{{this.overview}}</p>
            </div>
        </div>
        <div class="col-sm-3">
            <button id="remove" type="button" data-id="{{this.id}}" class="remove btn btn-lg btn-primary">Remove From Favorites</button>
        </div>
    </div>
    {{/each}}
    
</div>

<link rel="stylesheet" href="/client/public/assets/css/ratings.css">
<script src="/js/movies/create.js"></script>

