  {{> navbar }}


<div class="container">

    {{#each movies}}
    <div style="margin-top: 20px; margin-bottom: 20px" class="row">
        <div class="col-sm-2">
            <a data-movieid="{{this.movie_id}}" href="/movie/{{this.movie_id}}"><img src="{{this.poster_path}}" alt="Movie Poster Thumbnail" class="img-fluid"></a>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h1 class="movie-title-rating">{{this.movie_title}}</h1>
            </div>
            <div class="row">
                <h3 class="movie-date-rating">Released: {{this.movie_year}}</h3>
                <p class="movie-overview-rating">{{this.overview}}</p>
            </div>
        </div>
        <div class="col-sm-2">
            <button id="remove" type="button" data-id="{{this.id}}" class="remove btn btn-lg btn-primary">Remove From Favorites</button>
        </div>
    </div>
    {{/each}}
    
</div>

<link rel="stylesheet" href="/client/public/assets/css/ratings.css">
<script src="/js/movies/create.js"></script>

