<h2>

    <div class="container">
        {{#each movies}}
        <div class="row">
            <div class="col-sm-3">
                <img src="{{this.poster_path}}" alt="Movie Poster Thumbnail" class="img-thumbnail">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h1>{{this.movie_title}}</h1><h3>     Released: {{this.movie_year}}</h3>
                </div>
                <div class="row">
                    <p>{{this.overview}}</p>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" data-id="{{this.id}}" class="remove btn btn-lg btn-primary">Remove From Favorites</button>

            </div>

        </div>
        {{/each}}
    </div>

</h2>

<script src="/js/movies/create.js"></script>